<%= link_to 'Sign Out', login_sign_out_path %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Country</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  
<% @events.each do |event| %>

  <tbody>
      <tr>
        <td><%= event.name %></td>
        <td><%= event.start_date.strftime("%d/%m/%y") if event.start_date%></td>
        <td><%= event.end_date.strftime("%d/%m/%y") if event.end_date%></td>
        <td><%= event.country %></td>
        <td><%= link_to 'Show', event_path(event) %></td>
        <% if session[:role] == "ADMIN" %>
          <td><%= link_to 'Edit', edit_event_path(event) %></td>
          <td><%= link_to 'Destroy', event_path(event), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% else %>
          <td><%= link_to_registration(event.id) %></td>
        <% end %>
      </tr>
  </tbody>
<% end %>
</table>
<% if session[:role] == "ADMIN" %>
<p><%= link_to 'New Event', new_event_path %></p>
<p><%= link_to 'New speaker', new_new_speaker_path %> </p>
<p><%= link_to 'New sponsor', new_new_sponsor_path %> </p>

<% end %>